# 统一换行与文本判定
* text=auto eol=lf

# 二进制资源不做行尾转换
*.png binary
*.jpg binary
*.wav binary
*.ogg binary
*.ttf binary
*.otf binary
*.ctex binary

# Godot 文本资源按文本处理
*.gd  text
*.tscn text
*.tres text
*.cfg  text
*.godot text
